body{
    margin: 0;
}
.logo img{
    width: 50%;
}
.nav-item{
    font-size: 1rem;
    padding: .5rem;
    text-decoration: solid;
}
.row{
    width: 100%;
}
.photo img{
    width: 100%;
}
.react{
    color: #fd7e14;
}
.run{
    color: #363958;
}
.col-md-5{
    padding: 2rem;
    font-size: 1.5rem;
}
.row-cols-1{
    height: 11rem;
}
.buy{
    justify-content: space-between;
    display: flex;
}
.btn{
    color: white;
    background-color: #3c4dec;
}
.first-section{
    background-color: #fff9f4;
}
.orange{
    color: #fa804c;
}
.price{
    color: #fa804c;
}
.card1 img{
    height: 25rem;
    background-color: #f1f1f1;
}
.casual{
    color: #363958;
}
.halka{
    border: 0;
    border-radius: 1rem;
}
.extraimg{
    background-color: white;
}
@media (max-width:992px){
    .photo img, .arekta{
        width: 200px;
    }
    .left{
        position: relative;
        right: 25rem;
    }
    .logo-width img{
        position: relative;
        left: 5rem;
        width: 400px;
    }
    
}
.nav-bar ul{
    list-style: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    padding: 2rem;
    color: black;
}
ul li{
    padding-top: 2rem;
}
.col img{
    padding-top: 1rem;
    width: 300px;
}
.logo-width{
   
}
.logo-width img{
    position: relative;
    right: 20rem;
    width: 400px;
}
.tinta img{
    height:6rem;
    width: 5rem;
}
.tinta{
    border: 0;
    margin-top: 5rem;
    height: 10rem;
}
.tinb{
    border: 0;
}
.tb{
    border-radius: 2rem;
}
.chobir{
    padding-top: 10rem;
    margin-top: 5rem;
}
.chobi img{
    width: 100%;
}
.footer-link a:hover{
    color: #363958;
}
.title-color{
    color: #ff7f50;  
}