body{
    margin: 0;
}
.header-bg{
    background-color:#FFF9F4;
}
.logo img{
    width: 60%;
}
.nav-item{
    font-size: 1rem;
    padding: .5rem;
    text-decoration: solid;
}
.row{
    width: 100%;
}
.photo img{
    width: 80%;
}
.react{
    color: #fd7e14;
}
.run{
    color: #363958;
}

.buy{
    justify-content: space-between;
    display: flex;
}
.btn{
    color: white;
    background-color: #3c4dec;
}
.first-section{
    background-color: #fff9f4;
}
.orange{
    color: #fa804c;
}
.price{
    color: #fa804c;
}
.card1 img{
    height: 25rem;
    background-color: #f1f1f1;
}
.casual{
    color: #363958;
}
.halka{
    border: 0;
    border-radius: 1rem;
}
.extraimg{
    background-color: white;
}
.nav-bar ul{
    list-style: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    padding: 2rem;
    color: black;
}
ul li{
    padding-top: 2rem;
}
.col img{
    padding-top: 1rem;
    width: 300px;
}
.card-border{
    border: 0;
    border-radius: 10px;
}
.footer-link a:hover{
    color: white;
}
.title-color{
    color: #ff7f50;  
}